<div style="width: 60%; text-align: left; padding-left: 60px; padding-right: 66px;padding-bottom: 40px;" >
    <form action="/applicant/view_applicant" method="POST">
        <div class="form-group">
            <label for="guardian_nic" class="left">Enter Guardian NIC No:
                <input type="text" class="form-control" name="guardian_nic" required>
            </label>
            <input type="submit" class="btn btn-default">
        </div>
    </form>
</div>


<div>
    <table class="table table-striped table-bordered">
        <thead class="thead-inverse">
        <th>Applicant ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>DOB</th>
        <th>age</th>
        <th>nationality</th>
        <th>religion</th>
        <th>gender</th>
        <th>Edit</th>
        </thead>
        <tbody>
        {{#rows}}
            <tr>
                <td>{{applicant_id}}</td>
                <td>{{first_name}}</td>
                <td>{{last_name}}</td>
                <td>{{formatDate date_of_birth}}</td>
                <td>{{age}}</td>
                <td>{{nationality}}</td>
                <td>{{religion}}</td>
                <td>{{gender}}</td>
                <td><input type="button" value="Edit"></td>
            </tr>
        {{/rows}}
        </tbody>
    </table>
</div>
